<!doctype html>
<html lang="en" ng-app="adminApp">

<head>
	<title>:: Sea2meat ::</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://unpkg.com/ag-grid@17.0.0/dist/ag-grid.min.js"></script>
	<script src="adminApp.js"></script>
</head>

<body>

		<div id="wrapper">
			<!-- <div ng-if="test"> -->
				<nav   class="navbar navbar-default navbar-fixed-top" >
					<div class="brand">
						<a href="#/">sea2meat</a>
					</div>
					<div class="container-fluid">
						<div class="navbar-btn">
							<button ng-show="test" type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
						</div>
						<div ng-if="test" id="navbar-menu">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown" ng-controller="homeController">
									<a href="#" class="dropdown-toggle"   data-toggle="dropdown"> <span>{{Fname}} {{Lname}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
									<ul class="dropdown-menu">
										<!-- <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li> -->
										<li><a ng-click="logout()"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<div ng-if="test" id="sidebar-nav"  class="sidebar">
					<div class="sidebar-scroll">
						<nav >
							<ul class="nav" >
								<li><a href="#/users" class=""><i class="fa fa-user-plus"></i> <span>Create Users - Admin & Mobile</span></a></li>
								<li><a href="#/customer" class=""><i class="lnr lnr-dice"></i> <span>Cunstomer</span></a></li>
								<li><a href="#/product" class=""><i class="lnr lnr-text-format"></i> <span>Products</span></a></li>
								<li><a href="#/brands" class=""><i class="fa fa-list-ul"></i> <span>Brands</span></a></li>
								<li><a href="#/banners" class=""><i class="fa fa-cube"></i> <span>Banners</span></a></li>
								<li><a href="#/orders" class=""><i class="fa fa-window-restore"></i> <span>View Orders</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			<!-- </div> -->
				   <div ng-view></div>
				<div class="clearfix"></div>
				<footer>
					<div class="container-fluid">
						<p class="copyright">&copy; 2018 <a href="http://vajralabs.com/" target="_blank">vajralabs</a>. All Rights Reserved.</p>
					</div>
				</footer>
			</div>
			

	</div>
	
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
</body>
</html>
