
  <div class="se-pre-con"></div>

  
  <div class="bread-crumb mb-60">
    <div class="container align-center">
      <div id="page-title" class="page-title">{{product.name}}</div> 
      <!-- <div class="bread-crumb-inner">
        <ul>
          <li><a href=""><i class="fa fa-home"></i></a></li>
          <li><a href="">Sausage </a></li>
          <li><a href="">iMac</a></li>
        </ul>
      </div> -->
    </div>
  </div> 

<div class="container"> 
  <div class="row">                
    <div id="content" class="product-page col-sm-12">      
      <div class="row">
        <div class="col-sm-5 mb-xs-30">
          <div class="thumbnails-image ">
            <a title="iMac">
            <img src="{{selectedImage}}" data-zoom-image="{{selectedImage}}" title="iMac" alt="iMac" />
            </a>
          </div>
          <div class="position-r">
            <ul class="product-additional owl-slider">
              <li class="image-additional" ng-repeat="image in product.product_image">
              <a href="javascript:void(0);" data-image="{{image.thumbnailImage}}" data-zoom-image="{{image.thumbnailImage}}" title="iMac">
                <img ng-click="selectedImagefun(image)" src="{{image.thumbnailImage}}" title="iMac" alt="iMac" />
              </a>
              </li>
              
            </ul>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="product-detail-main">
            <div class="product-item-details">
              <h1 class="product-item-name">{{product.name}}</h1>
              <ul class="list-unstyled product-page-price">
                <li>
                  <div class="product-price">{{product.currency}}{{product.price}}</div>
                </li>
              </ul>
              <ul class="list-unstyled mb-30">
                <li><label>Product Code:</label>{{product.productCode}}</li>
                <li ng-if="product.is_available"><label>Availability:</label> In Stock</li>
                <li ng-if="!product.is_available"><label>Availability:</label>Sold out</li>

              </ul>
              <hr>
              <div id="product" class="mt-30">
                <div class="form-group">
                  <label class="control-label" for="input-quantity">Qty</label>
                  <input type="number" mg-model="quantity" name="quantity"  id="input-quantity" class="form-control" required />
                  <br />
                  <div class="button-group main-product-btn product-item-action">
                    <button ng-click="addtocart(product)" class="addtocart btn-black" type="button" id="button-cart" data-loading-text="Loading..."><span class="icon" ></span>Add to Cart</button>
                    <button ng-click="continueShopping()" class="addtocart btn-black" type="button" id="button-cart" data-loading-text="Loading..."><span class="icon" ></span>Continue Shopping</button>

                  </div>
                </div>
              </div>
              <div class="rating">
                <hr>
                <div class="addthis_toolbox addthis_default_style mt-30" data-url="">
                  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> 
                  <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> 
                  <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <script type="text/javascript" src=""></script>
              </div>
            </div>
          </div>
        </div>
       
      </div>
      	  
            

  