
  <div class="container">
    <div class="bread-crumb mtb-30 center-xs">
      <div class="page-title">Change Password</div>
      <div class="bread-crumb-inner right-side float-none-xs">
        <ul>
          <li><a href=""><i class="fa fa-home"></i></a></li>
          <li><a href="">Account</a></li>
          <li><a href="">Change Password</a></li>
        </ul>
      </div>
    </div>
    <div class="row">                
      <div id="content" class="col-sm-8">      
        <form action=""  name="myForm" method="post" enctype="multipart/form-data" class="form-horizontal">
          <fieldset>
          <div class="heading-bg mb-30">
            <h2 class="heading m-0">Change Password</h2>
          </div> 
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-password">Password</label>
            <div class="col-sm-10">
              <input ng-attr-type="{{ showPassword ? 'text' : 'password' }}" name="password" ng-required="1" ng-model="password" placeholder="Password" id="input-password" class="form-control" />
              <span style="color:red" ng-if="myForm.password.$dirty && myForm.password.$invalid">Please Enter Password</span>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
            <div class="col-sm-10">
              <input ng-attr-type="{{ showPassword ? 'text' : 'password' }}" ng-change="passChange()" name="confirm" ng-required="1" ng-model="password_c" placeholder="Password Confirm" id="input-confirm" class="form-control" />
              
              <span style="color:red" ng-if="myForm.confirm.$dirty && myForm.confirm.$invalid">Please Enter Confirm Password</span>
              <span style="color:red" ng-if="p_match">Password doesn't match</span>
              <input type="checkbox" ng-model="showPassword" ng-click="toggleShowPassword()"><label>Show Password</label>
            </div>
            
          </div>
          </fieldset>
        <div class="buttons clearfix">
          <div class="pull-left"><a href="" class="btn btn-black">Back</a></div>
          <div class="pull-right">
              
              <input type="submit" ng-disabled="p_match || myForm.password.$dirty && myForm.password.$invalid ||myForm.confirm.$dirty && myForm.confirm.$invalid"
            ng-click="editpassword()" value="Continue" class="btn btn-black" />
          </div>
        </div>
        </form>
      </div>
      
    </div>
  </div>
