
  
  <div class="bread-crumb mb-60">
    <div class="container align-center">
      <div class="page-title">Checkout</div>
      <div class="bread-crumb-inner">
        <ul>
          <li><a href=""><i class="fa fa-home"></i></a></li>
          <li><a href="">Shopping Cart</a></li>
          <li><a href="">Checkout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">                
      <div id="content" class="col-sm-12">      
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-checkout-option" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle" aria-expanded="true">Step 1: Checkout Options <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse in" id="collapse-checkout-option" aria-expanded="true" >
            <div class="panel-body"><div class="row">
 
    <div class="col-sm-12">
      <fieldset>
        <legend>Your Personal Details </legend>
        <div class="form-group" style="display: none;">
          <label class="control-label">Customer Group</label>
                          <div class="radio">
            <label>
              <input type="radio" value="" checked="checked">
              Default</label>
          </div>
                        </div>
        <div class="form-group required">
          <label class="control-label">First Name</label>
          <input type="text" name="firstname" placeholder="First Name" ng-model="user.firstName" class="form-control" readonly>
        </div>
        <div class="form-group required">
          <label class="control-label" for="input-payment-lastname">Last Name</label>
          <input type="text" ng-model="user.lastName" placeholder="Last Name" class="form-control" readonly>
        </div>
        <div class="form-group required">
          <label class="control-label">E-Mail</label>
          <input type="text" ng-model="user.email" placeholder="E-Mail" class="form-control" readonly>
        </div>
        <div class="form-group required">
          <label class="control-label">Telephone</label>
          <input type="text" ng-model="user.mobile" placeholder="Telephone" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label class="control-label">Fax</label>
          <input type="text" ng-model="user.fax" placeholder="Fax" class="form-control" readonly>
        </div>
            </fieldset>
    
    </div>
   
 

</div>
</div>
          </div>
        </div>

          <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle" aria-expanded="true">Step 2: Delivery Address Details <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse in" id="collapse-shipping-address" aria-expanded="true">
            <div class="panel-body"><form class="form-horizontal">
    <div class="radio">
    <label ng-If="my_address.length > 0">
      <b>I want to use an existing address</b></label>
  </div>
  <div>
    <select class="form-control" ng-If="my_address.length > 0" ng-model="cartDetails.addressId">
                  
                  <option  ng-repeat="address in my_address" value="{{address.id}}">{{address.streetAddress}},{{address.city}},{{address.state}},{{address.pincode}},{{address.country}}({{address.addressType}})</option>
                </select>
  </div>
  <div class="radio">
    <label>
      <a href="#/address_book">I want to Add a new address</a></label>
  </div>
    <br>
  <div class="buttons clearfix">
    <div class="pull-right">
      <!-- <input type="button" value="Continue" class="btn btn-black"> -->
    </div>
  </div>
</form>



</div>
          </div>
        </div>
          <!-- <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle" aria-expanded="true">Step 4: Delivery Method <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse in" id="collapse-shipping-method" aria-expanded="true" style="">
            <div class="panel-body"><p>Please select the preferred shipping method to use on this order.</p>
<p><strong>Flat Rate</strong></p>
<div class="radio">
  <label>
            <input type="radio" value="flat.flat" checked="checked">
        Flat Shipping Rate - $8.00</label>
</div>
<p><strong>Add Comments About Your Order</strong></p>
<p>
  <textarea name="comment" rows="8" class="form-control"></textarea>
</p>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="Continue" data-loading-text="Loading..." class="btn btn-black">
  </div>
</div>
</div>
          </div>
        </div> -->
          <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle" aria-expanded="true">Step 3: Payment Method <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse in" id="collapse-payment-method" aria-expanded="true" style="">
            <div class="panel-body"><p>Please select the preferred payment method to use on this order.</p>
<div class="radio">
  <label>
            <input type="radio" value="cod" checked="checked">
        Cash On Delivery      </label>
</div>
<div class="radio">
  <label>
     <input type="checkbox" ng-model="voucherCheck">Got any voucher ??     
  </label>
</div>
<div ng-if="voucherCheck">
  <label>
    <input style="text-transform:uppercase" type="text" ng-model="voucherCode">
    <input type="button" value="Apply" ng-click="applyVoucher(voucherCode)">
    <p id="c_message">{{coupoun_message}}</p>
 </label>
</div>
<!-- <p><strong>Add Comments About Your Order</strong></p>
<p>
  <textarea name="comment" rows="8" class="form-control"></textarea>
</p> -->
<div class="buttons">
  <div class="pull-right">I have read and agree to the <a href="" class="agree"><b>Terms &amp; Conditions</b></a>        <input type="checkbox" ng-model="cartDetails.termsandCondition">
        &nbsp;
    <!-- <input type="button" value="Continue" data-loading-text="Loading..." class="btn btn-black" /> -->
  </div>
</div>
</div>
          </div>
        </div>
          <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-checkout-confirm" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle" aria-expanded="true">Step 4: Confirm Order <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse in" id="collapse-checkout-confirm" aria-expanded="true">
            <div class="panel-body"><div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-left">Product Name</td>
        <td class="text-left">Product Code</td>
        <td class="text-right">Quantity</td>
        <td class="text-right">Unit Price</td>
        <td class="text-right">Total</td>
      </tr>
    </thead>
    <tbody>
            <tr ng-repeat="eachpro in cartDetails.cart">
        <td class="text-left"><a href="">{{eachpro.itemdetails.name}}</a>
                    </td>
        <td class="text-left">{{eachpro.itemdetails.productCode}}</td>
        <td class="text-right">{{eachpro.quantity}}</td>
        <td class="text-right">{{eachpro.itemdetails.currency}}: {{eachpro.itemdetails.price}}</td>
        <td class="text-right">{{eachpro.itemdetails.currency}}: ({{eachpro.quantity * eachpro.itemdetails.price}})</td>
      </tr>
                </tbody>
    <tfoot>
            <tr>
        <td colspan="4" class="text-right"><strong>Sub-Total:</strong></td>
        <td class="text-right">{{cartDetails.orderValue}}</td>
      </tr>
            <tr>
        <td colspan="4" class="text-right"><strong>Flat Shipping Rate:</strong></td>
        <td class="text-right">{{taxDeatils.Shipping}}</td>
      </tr>
            <tr>
        <td colspan="4" class="text-right"><strong>Eco Tax:</strong></td>
        <td class="text-right">{{taxDeatils.eco_tax}}</td>
      </tr>
            <tr>
        <td colspan="4" class="text-right"><strong>VAT:</strong></td>
        <td class="text-right">{{taxDeatils.Vat}}</td>
      </tr>
      <tr ng-if="discount>0">
        <td colspan="4" class="text-right"><strong>Discount:</strong></td>
        <td class="text-right">-{{ discount}}</td>
      </tr>

            <tr>
        <td colspan="4" class="text-right"><strong>Total:</strong></td>
        <td class="text-right">{{total}}</td>
      </tr>
          </tfoot>
  </table>
</div>
<div class="buttons">
  <div class="pull-right">
    <input type="button" ng-click="confirmorder()" value="Confirm Order" class="btn btn-black" data-loading-text="Loading...">
  </div>
</div>

</div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

 