<div class="jumbotron text-center">
	<div class="position-r">
		<div id="slideshow0" class="owl-carousel owl-slider" style="opacity: 1;">
		  <div class="item" ng-repeat="image in images">
			<a href="#{{image.image_to}}"><img src="{{image.category_backgroudImage}}" alt="iPhone 6" class="img-responsive" /></a>
		  </div>
		</div>
	  </div>
	
	 

<div class="mt-60">
    <div class="container">
      <div class="row butcher_img">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img src="assets/img/butcher_1.png" class="img-responsive image_butcher" alt="butcher">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 animated finite fadeInUp">
          <div class="pt-95">
            <div class="div_firms">
              <h1> About Our Firm’s </h1>
            </div>
            <div class="div_p">
              <p class="big">{{about[0].header}}</p>
            </div>
            <div class="div_line-yal-index mtb-30">
              <img src="assets/img/line-yal.png" class="img-responsive" alt="butcher">
            </div>
            <div class="div_p">
              <p>{{about[0].body}}</p>
            </div>
            <div class="div_readmore1 mt-30">
              <a class="btn btn-yellow" href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="img_background-hd ptb-95">
    <div class="container">
      <div class="row">
        <div class="div_margin">
          <div class="col-sm-12">
            <div class="align-center">
              <h1>Home Delivery</h1>
              <div style="margin-top: 10px">
                <p class="big">know about our delivery processes</p>
              </div>
              <div class="div_line-yal2 mt-30 mb-60">
                <img src="assets/img/line-yal.png" class="Butcher" alt="butcher">
              </div>
            </div>
          </div>
          <div class="col-sm-12 div_icon_margin">
            <div class="col-lg-3 col-md-3 col-sm-3  home-delivery">
              <div class="ser-box choose-icon">
                <span></span>
                <h3 class="title">CHOOSE</h3>
                <p class="p1"> Nunc elementum purus ex iaculis elfend. Curabitur bibendum odio</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  home-delivery">
              <div class="ser-box receive-icon">
                <span></span>
                <h3 class="title">RECEIVE</h3>
                <p class="p1"> Aunc elementum purus ex iaculis elfend. Curabitur bibendum odio</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  home-delivery">
              <div class="ser-box cook-icon">
                <span></span>
                <h3 class="title">COOK</h3>
                <p class="p1"> Nunc elementum purus ex iaculis elfend. Curabitur bibendum odio</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  home-delivery">
              <div class="ser-box eat-icon">
                <span></span>
                <h3 class="title">EAT</h3>
                <p class="p1"> Ucnc elementum purus ex iaculis elfend. Curabitur bibendum odio</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ptb-95 home-product">
    <div class="container">
      <div class="box featured_box">
        <div class="heading-part align-center mb-40">
          <h2 class="main_title">Featured Product</h2>
          <div style="margin-top: 10px;">
            <p class="big">know about our delivery processes</p>
          </div>
          <div class="div_line-yal2 mt-20 mb-60">
            <!-- <img class="meatshop" src="assets/img/line-yal.png" alt="meatshop"> -->
          </div>
        </div>
        <div id="tabs">
          <ul>
            <li id="tab_beef" class="tab"> 
              <a id="tab_20" ng-click="getfeatured_product('BEEF')"><span></span>Beef</a>
            </li>
            <li id="tab_lamb" class="tab">
              <a id="tab_25" ng-click="getfeatured_product('LAMB')"><span></span>Lamb</a>
            </li>
            <li id="tab_poultry" class="tab"> 
              <a id="tab_17" ng-click="getfeatured_product('POULTRY')"><span></span>Poultry</a>
            </li>
            <li id="tab_sausage" class="tab"> 
              <a id="tab_33" ng-click="getfeatured_product('SAUSAGE')"><span></span>Sausage</a>
            </li>
            <li id="tab_today" class="tab"> 
                <a id="tab_57" ng-click="getfeatured_product('TODAY_SPECIAL')"><span></span>Today's Special</a>
              </li>
            <!-- <li class="tab all-cat"> 
              <a id="tab_all" href="#tab-all" data-toggle="tab"><span></span>View All</a>
            </li> -->
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" >
            <div class="col-md-4 col-xs-6" ng-repeat="Fproduct in featured_product">
              <div class="product-thumb transition">
                <div class="image">
                  <!-- <a  class='iframe button btn quickview' href=""><i class="fa fa-search"></i></a> -->
                  <a >
                    <img src="{{Fproduct.image}}" alt="{{Fproduct.image}}&quot;" title="{{Fproduct.image}}&quot;" class="img-responsive" />
                    <img class="img-responsive hover-image" src="{{Fproduct.image}}" alt="{{Fproduct.image}}&quot;"/>
                  </a>
                  <div  ng-if="Fproduct.is_sale" class="sale-label"><span>Sale</span></div>         
                                </div>
                <div class="caption">
                  <div class="name">
                    <h3><a href="">{{Fproduct.name}}&quot;</a></h3>
                  </div>
                  <!-- <div class="rating-summary-block">
                    <div class="rating">
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                    </div>
                  </div> -->
                  <p class="price">
                      <span ng-if="!Fproduct.is_sale" class="price-new">{{Fproduct.currency}}{{Fproduct.price}}</span>
                      <span ng-if="Fproduct.is_sale" class="price-new">{{Fproduct.currency}}{{Fproduct.sale_price}} <span class="price-old">{{Fproduct.price}}</span></span>
                  </p>
                  <div class="button-group main-product-btn product-item-action">
                    <button  class="addtocart btn-color" type="button" onclick="cart.add('42');">
                      <span>Add to Cart</span>
                    </button>
                    <div class="right-side">
                      <button class="whishlist" type="button" data-toggle="tooltip" title=" Wish List" onclick="wishlist.add('42');"><span class="icon"></span>
                      </button>
                      <button class="compare" type="button" data-toggle="tooltip" title="Compare" onclick="compare.add('42');"><span class="icon"></span></button>
                    </div>   
                  </div>
                </div> 
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="blog-widget-recent blog-main ptb-95">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="heading-part align-center mb-40">
            <h2 class="main_title">Today's Special</h2>
            <div style="margin-top: 10px;">
              <p class="big">know about our delivery processes</p>
            </div>
            <div class="div_line-yal2 mt-20 mb-60">
              <img src="assets/img/line-yal.png" class="meatshop">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="blog-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                  <div  class="owl-wrapper" style="width: 3320px; left: 0px; display: block; transform: translate3d(-415px, 0px, 0px); transition: all 200ms ease;">
                    <div class="owl-item" style="width: 415px;" ng-repeat="special in special_product">
                  <div class="item" >        
          <div class="blog-item "> 
            <div class="blog-media">
                            <img src="{{special.image}}" alt="New’s &amp; Blog’s" title="New’s &amp; Blog’s"> 
            </div>          
            <div class="blog-detail">
              <div class="blog-detail-inner">
                <div class="blog-contant">
                  <div class="item post-posed-date"><span class="value"> 27/05/2017</span></div>
                  <h3 class="blog-title mb-40"><a href="http://webcotheme.com/opc/butcher/demo/btc01/index.php?route=information/blogger&amp;blogger_id=4">{{special.name}}</a></h3>
                  <!-- <div class="post-text-hld clearfix">
                    <p>Phasellus aliquam libero semper, lobortis tortor eu, ultrices augue. Donec ut elit sit amet est tincidunt rutrum. Aenean elementum mi a nisi consequat...</p>
                  </div>-->
                  <a href="http://webcotheme.com/opc/butcher/demo/btc01/index.php?route=information/blogger&amp;blogger_id=4" class="btn btn-yellow full"> Read more</a> </div>
              </div>
            </div> 
           </div>     
        </div></div>
                
                
                
              </div>
    </div>
    </div>
  </div>


  <div class="contact-section">
    <div class="container">
      <div class="ptb-95 mtb-30">
        <div class="contact-inner">
          <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
              <h2 class="title">CALL NOW</h2>
              <div class="div_line-yal-index">
                <!-- <img src="assets/img/line-yal-2.png" class="img-responsive" alt="butcher"> -->
              </div>
              <div class="phone">
                <h2>+61 3 8376 6284</h2>
              </div>
              <div>
                <p class="big">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum laoreet velit ut rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
              </div>
              <div class="mt-60">
                <a class="btn btn-color" href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="img_background-hd ptb-95 counter-bg">
    <div class="container">
      <div class="row funfacts">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="block">
            <div class="count-box">
              <i class="circle-thin counter_i counter-item-circle"></i>
              <div class="count blue-text">500</div>
            </div>
            <div class="caption caption1">CUSTOMER’S</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="block">
            <div class="count-box">
              <i class="circle-thin counter_i-green counter-item-circle"></i>
              <div class="count green-text">394</div>
            </div>
            <div class="caption caption2">MEATS TYPE’S</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="block">
            <div class="count-box">
              <i class="circle-thin counter_i-red counter-item-circle"></i>
              <div class="count red-text">745</div>
            </div>
            <div class="caption caption3">ORGANIC FARM’S</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="block">
            <div class="count-box">
              <i class="circle-thin counter_i-yellow counter-item-circle"></i>
              <div class="count yellow-text">423</div>
            </div>
            <div class="caption caption4">HOUTLET’S</div>
          </div>
        </div>
        <div class="funfacts-para middle-900">
          <img alt="butcher" src="assets/img/line-cd.png">
          <p class="big">
            Donec blandit, tellus sed molestie posuere, erat lorem tempor enim, vestibulum tincidunt ex diam in elit. Suspendisse sed ipsum nibh. Proin euismod luctus mauris, quis scelerisque arcu ultricies condimentum. Donec pellentesque dictum tellus, ut tincidunt nibh ultricies vitae. Etiam luctus justo eu tellus maximus, id venenatis sem euismod.
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="testimonial ptb-95">
    <div class="container">
      <div class="row">
        <div class="client-main client-bg">
          <div id="slideshow1" class="client-inner align-center owl-slider">
            <div  class="testimonial-data" ng-repeat="teste in testemonial">
              <div class="item client-detail" >
                <div class="client-img ">
                  <img class="image-testimonial pull-left" src="{{teste.image_url}}" title="Emma Bower" alt="Emma Bower" /> 
                </div>
                <div class="quote">
                  <h3 class="sub-title client-title">{{teste.name}}<span>&#160;{{teste.profession}}&#160;</span></h3>
                  <p>{{teste.message}}</p>
                  <div class="rating">
                    <!-- <span class="fa fa-stack" ng-repeat="n in {{teste.stars}}"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                    <span class="fa fa-stack" ng-repeat="n in 5-{{teste.stars}}"><i class="fa fa-star fa-stack-1x"></i></span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-bg ptb-95">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="bottom-logo">
            <a href="#">
              <img src="assets/img/bottom-logo.png" alt="meatshop">
            </a>
          </div>
          <div class="home-add mb-sm-30">
            <div class="home-add-block">
              <div class="home-add-icon"></div>
              <p>PO Box 16122 Collins Street West Victoria 8007</p>
            </div>
            <div class="home-add-block">
              <div class="home-add-icon"></div>
              <p>121 King Street, Melbourne Victoria 3000</p>
            </div>
            <div class="home-add-block">
              <div class="home-add-icon"></div>
              <p>+61 3 8376 6284</p>
            </div>
            <div class="home-add-block">
              <div class="home-add-icon"></div>
              <p>info@example.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="heading-part align-center left-sm">
            <div class="heading-part-inner">
              <h2 class="main_title">Send Your Request</h2>
              <div style="margin-top: 10px;">
                <p class="big">we are committed to total transparency about our products.</p>
              </div>
              <div class="div_line-yal2 mt-20 mb-40">
                <!-- <img class="meatshop" src="assets/img/line-yal.png" alt="meatshop"> -->
              </div>
            </div>
          </div>
          <form method="post">
            <div class="main-form">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <div class="mb-20">
                    <input type="text" name="req-name" placeholder="" required="">
                  </div>
                  <div class="mb-20">
                    <input type="email" name="req-email" placeholder="" required="">
                  </div>
                  <div class="mb-20">
                    <input type="text" name="req-phone" placeholder="" required="">
                  </div>
                  <div class="mb-20">
                    <textarea name="req-message" cols="30" rows="3" placeholder="" required=""></textarea>
                  </div>
                  <div class="">
                    <div class="align-center">
                      <button class="btn btn-yellow big-width" name="submit" type="submit">Send now</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">                                
      <div id="content" class="col-sm-12">
        <div class="brand">
          <div class="ptb-95">
            <div id="brand-logo" class="owl-slider position-r">
              <div  ng-repeat="brand in brandImages">
                <div class="item text-center">
                  <img src="{{brand.image}}" alt="Harley Davidson"/>
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>