
   
    <div class="bread-crumb mb-60">
        <div class="container align-center">
          <div class="page-title">Order History</div>
          <div class="bread-crumb-inner">
            <ul>
                <li><a href=""><i class="fa fa-home"></i></a></li>
                <li><a href="">Account</a></li>
                <li><a href="">Order History</a></li>
            </ul>
          </div>
        </div>
      </div>
  <div class="container">
   
    <div class="row">                
      <div id="content" class="col-sm-12" ng-if="myorder.length > 0">      
        <div class="heading-bg mb-20"> 
         <h2 class="heading m-0">Order History</h2>
        </div> 
          <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-right">Order ID</td>
                <td class="text-right">Address</td>
                <td class="text-right">No. of Products</td>
                <td class="text-left">Status</td>
                <td class="text-right">Total</td>
                <td class="text-left">Date Added</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in myorder">
                <td class="text-right">{{order.id}}</td>
                <td class="text-right">{{order.addressDeatils.streetAddress}},{{order.addressDeatils.city}} {{order.addressDeatils.state}} {{order.addressDeatils.country}} - {{order.addressDeatils.pincode}}</td>
                <td class="text-left">{{order.products.length}}</td>
                <td class="text-right">{{order.orderStatus}}</td>
                <td class="text-left">{{order.orderValue}}</td>
                <td class="text-right">{{order.createdAt}}</td>
                <td class="text-right">  
                  <button type="button" class="btn btn-info" ng-click="selectedOrderfun(order)">View Products</button>
                  <button type="button" class="btn btn-info" ng-if="order.orderStatus == 'Placed'" ng-click="cancelOrder(order.id)">Cancel Order</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="content" class="col-sm-12" ng-if="selectedOrder.length > 0">      
          <div class="heading-bg mb-20"> 
           <h2 class="heading m-0">Selected Order Products</h2>
          </div> 
            <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-right">Product ID</td>
                  <td class="text-right">Product Code</td>
                  <td class="text-right">Product Name</td>
                  <td class="text-left">Quantity</td>
                  <td class="text-right">Total</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="order in selectedOrder">
                  <td class="text-right">{{order.id}}</td>
                  <td class="text-right">{{order.productCode}}</td>
                  <td class="text-left">{{order.name}}</td>
                  <td class="text-right">{{order.quantity}}</td>
                  <td class="text-left">{{order.quantity * order.price}}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>

     

      <div>
          <div class="heading-bg mb-20" ng-if="myorder.length <= 0"> 
              <h2 class="heading m-0">Order is empty</H3></h2>
          </div> 

      </div>


     
    </div>
  </div>

 