  
  <div class="bread-crumb mb-60">
      <div class="container align-center">  
        <div id="page-title" class="page-title">Sausage</div> 
        <div class="bread-crumb-inner">
          <ul>
            <li><a href="#/"><i class="fa fa-home"></i></a></li>
            <li><a href="">Sausage</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">                
        <div id="content" class="col-sm-12 pb-95">     
                <div class="row">
                  </div>
                  <div class="shorting">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="view">
                          <button type="button" id="grid-view" class="btn btn-default"  title="Grid"></button>
                          <button type="button" id="list-view" class="btn btn-default"  title="List"></button>            
                        </div>
                        <div class="short-by float-right-sm">    
                          <span>Sort By:</span>        
                          <div class="select-item">
                            <select id="input-sort" onchange="location = this.value;">
                              <option value="http://webcotheme.com/opc/butcher/demo/btc01/index.php?route=product/category&amp;path=20&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                            </select>
                          </div>
                        </div>
                      </div>        
                      <div class="col-md-6">
                        <div class="show-item right-side float-left-sm">      
                          <span>Show:</span>      
                            <div class="select-item">
                            <select id="input-limit" onchange="location = this.value;">
                              <option value="" selected="selected">9</option>
                            </select>
                          </div>
                          <!-- <div class="compare float-right-sm"><a class="btn btn-black" href="">Product Compare (0)</a></div> -->
                        </div>  
                      </div>
                    </div>
                  </div>  
          <br />
          <div class="row mlr_-37" >
                    <div class="product-layout product-list col-xs-12">
              <div class="product-thumb" ng-repeat="product in sausage_product">
                <div class="image">
                  <a href="">
                    <img src="{{product.imagelink}}" title="{{product.imagelink}}&quot;" alt="{{product.imagelink}}&quot;" class="img-responsive"/>
                    <img class="img-responsive hover-image" src="{{product.swapImage}}" alt="{{product.swapImage}}&quot;"/>
                  </a>
                  <div  ng-if="product.is_sale" class="sale-label"><span>Sale</span></div>         
                </div>
                <div class="caption">
                   
                  <div class="name">
                    <h3><a href="">{{product.name}}&quot;</a></h3>
                  </div>
                  <p class="price">
                      <span ng-if="!product.is_sale" class="price-new">{{product.currency}} : {{product.price}}</span>
                      <span ng-if="product.is_sale" class="price-new">{{product.currency}}{{product.sale_price}} <span class="price-old">{{product.price}}</span></span> 
                    <!-- <span class="price-tax">Ex Tax: $90.00</span> -->
                  </p>
                                <p class="category-description">
                                    {{product.description}}</p>
                  <div class="button-group main-product-btn product-item-action">
                    <button  class="addtocart btn-color" type="button" ng-click="showAddItem(product)"><!-- <span class="icon">fa fa-shopping-cart --></span> <span>Add to Cart</span></button><!--  class="hidden-xs hidden-sm hidden-md" -->
                    <div class="right-side">
                      <button class="whishlist" type="button" data-toggle="tooltip" title=" Wish List" ng-click="addWish(product.id)" ng-controller="AddWishListController"><span class="icon"><!-- fa fa-heart --></span></button>
                    </div>    
                  </div>        
                </div>          
              </div>
            </div>
                    
                  
                  
                   
                   
                  </div>
          <!-- <div class="toolbar toolbar-products row">
            <div class="col-sm-6 text-left page-counts">
              <div class="pagination-bar"><ul class="pagination"><li class="active"><span>1</span></li><li><a href="http://webcotheme.com/opc/butcher/demo/btc01/index.php?route=product/category&amp;path=20&amp;page=2">2</a></li><li><a href="http://webcotheme.com/opc/butcher/demo/btc01/index.php?route=product/category&amp;path=20&amp;page=2">&gt;</a></li><li><a href="http://webcotheme.com/opc/butcher/demo/btc01/index.php?route=product/category&amp;path=20&amp;page=2">&gt;|</a></li></ul></div>
            </div>
            <div class="col-sm-6 text-right page-results center-xs">Showing 1 to 9 of 10 (2 Pages)</div>
          </div> -->
                      </div>
          </div>
    </div>
  
    
    