  <div class="bread-crumb mb-60">
    <div class="container align-center">  
      <div id="page-title" class="page-title">My Wish List</div> 
      <div class="bread-crumb-inner">
        <ul>
          <li><a href=""><i class="fa fa-home"></i></a></li>
          <li><a href="">Account</a></li>
          <li><a href="">My Wish List</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
   
    <div id="content" class="col-sm-8" ng-if="wish_list.length==0">     
        <div class="heading-bg mb-20"> 
          <h2 class="heading m-0">My Wish List</h2>
        </div> 
        <p>Your wish list is empty.</p>
        <div class="buttons clearfix">
          <div class="pull-right"><a href="#/" class="btn btn-black">Continue</a></div>
        </div>
      </div>
    <div class="row mlr_-37" >
      <div class="product-layout product-list col-xs-12">
                                <div class="product-thumb" ng-repeat="product in wish_list">
                                                <div class="image">
                                                  <!-- <a class='iframe button quickview' href=""><i class="fa fa-search"></i>Quickview</a> -->
                                                  <a href="">
                                                    <img src="{{product.imagelink}}" title="{{product.imagelink}}&quot;" alt="{{product.imagelink}}&quot;" class="img-responsive"/>
                                                    <img class="img-responsive hover-image" src="{{product.swapImage}}" alt="{{product.swapImage}}&quot;"/>
                                                  </a>
                                                  <div  ng-if="product.is_sale" class="sale-label"><span>Sale</span></div>         
                                                </div>
                                          <div class="caption">
                                            
                                                                  <div class="name">
                                                                    <h3><a href="">{{product.name}}&quot;</a></h3>
                                                                  </div>
                                                                  <p class="price">
                                                                      <span ng-if="!product.is_sale" class="price-new">{{product.currency}}{{product.price}}</span>
                                                                    <span ng-if="product.is_sale" class="price-new">{{product.currency}}{{product.sale_price}} <span class="price-old">{{product.price}}</span></span> 
                                                                    <!-- <span class="price-tax">Ex Tax: $90.00</span> -->
                                                                  </p>
                                                                                <p class="category-description">
                                                                                    {{product.description}}</p>
                                                              <div class="button-group main-product-btn product-item-action">
                                                                                          <button  class="addtocart btn-color" type="button" ng-click="showAddItem(product)"><!-- <span class="icon">fa fa-shopping-cart --></span> <span>Add to Cart</span></button><!--  class="hidden-xs hidden-sm hidden-md" -->
                                                                                             
                                          </div>          
                      </div>
</div>
      
    
    
     
     
    </div>
    </div>
            
          
          
           
           
          
      
    </div>
  </div>

